In [4]:
#Implicit Data Type
a = 10
b = 10.50
c = a + b
print(c)
type(a)
#type(b)
#type(c)

20.5

int

In [5]:
type(b)

float

In [6]:
type(c)

float

In [8]:
#explicit Data type
a = str(10)
b = '456'

print(type(a))
print(type(b))

print(a+b)

<class 'str'>
<class 'str'>
10456

In [11]:
a = ["a", "b", "c"]
print(a)

print(a[2])
a[1] = "d"
print(a)

['a', 'b', 'c']
c
['a', 'd', 'c']

In [14]:
q = ('a', 'b', 'c')
print(q)
type(q)
q[1] = "d"
print(q)

('a', 'b', 'c')

TypeError: 'tuple' object does not support item assignment

In [25]:






Nested = {
    "a" : {
    "1" : "India",
    "2" : "aaa"
},
    "b" : {
    "3" : "India",
    "4" : "aaa"
}
}
print(Nested)
#print(a["1"])
#print(type(a))



#a["2"] = "bb"

#print(a)

{'a': {'1': 'India', '2': 'aaa'}, 'b': {'3': 'India', '4': 'aaa'}}

In [26]:
i = 1
while i < 6:
    print(i)
    i +=1

1
2
3
4
5

In [27]:
#process of taking time in a given sequence 
#break and Continue
i = 1
while i < 6:
    print(i)
    if i == 4:
        break
    i += 1

1
2
3
4

In [29]:
i = 1
while i < 6:
    i += 1
    #print(i)
    if i == 4:
        continue
    print(i)
    
    
while (condition):
    statement

2
3
5
6

In [37]:
#for var in Condition:
#    statement
    
# for (i = 0  , i < 10   ,  i++ )   
#     statement
    
    
a = [1, 2, 3, 4, 5]
print(a)
# for i in a:
#     print(i)
    
# for i in "REGex":
#     print(i)
    
#range(start,end,step)
for i in range(10):
    print(i)

[1, 2, 3, 4, 5]
0
1
2
3
4
5
6
7
8
9

In [39]:
a = [1,2,3,4]
if 5 in a:
    print("yes")
else:
    print("No")

No

In [41]:
#Numpy >> Arrays
#list is also same as array

a = ['a' , 'b' , 'c']
b = ['d' , 'e' , 'f' ]

for i in a:
    for j in b:
        print(i,j)

i = a, 
j = e

a d
a e
a f
b d
b e

a d
a e
a f
b d
b e
b f
c d
c e
c f

In [43]:
def a():
    print("c")

In [45]:
a()

c

In [47]:
#def Function_name():
    #Statement
    
def regex():
    print("Hello")

In [48]:
regex()

Hello

In [60]:
#Parameter and Arg

def abc(name, sname):
    print("hello " + name + sname)

In [61]:
abc("Shivam", "MAheshwari")

hello ShivamMAheshwari

In [65]:
#*args or **kargs
#args: Arbitary Argument ->
( *name )

def q(name1, name2, name3):
    print("hello" + name2)

q(name1 = "Shivam",name2 = "regex",name3 = "Tushar")
#   key = Value ,      key = Value      ,    key = value

helloregex

In [66]:
#**kwargs

def qq(*name):
    print("name is: " + name["name1"])

qq(name1 = "REGex", name2 = "Software")

# **kwargs is used for key and value pairs (Arguments)
# *args -> normal Arguments

name is: REGex

In [67]:
def city(cityname = "Jaipur"):
    print("name:" + cityname)

In [68]:
city("Delhi")
city("Mumbai")
city()

TypeError: city() takes 0 positional arguments but 1 was given

In [77]:
#import
import datetime
x = datetime.datetime.now()
#datetime.datetime.now()
print(x)
print(datetime.datetime.now())
#type(x)
print(list(x))

2020-04-13 17:11:01.952975
2020-04-13 17:11:01.953975

TypeError: 'datetime.datetime' object is not iterable

In [82]:
#datetime.py

# (function)
# -> datetime():
#         now()
#             #statement

# file name: time.py
# -> sleep is a function writtern in that file

import time
for i in range(10):
    time.sleep(1)
    print(i)
    
# You have to run your Program at 9:00am. Date: 14th April 2020.
#HINT:
    # You have to use datetime Module or time module..
    # You have to convert your output in #LIST_FORMAT
    # [ '2020-04-13' , '17:11:01.952975' ]
    # you can use this with the helf of IF/Else statement

    #PING  kiiuuuuu

0
1
2
3
4
5
6
7
8
9